<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo"></h1>
      <nav>
        <ul>
          <li><a href=""><%= user.username %></li>
        </ul>
      </nav>
    </div>
  </header>
  <h1 class="title">Notes</h1>
  <div class="addbtn"><button><a href="/add"> + New Note</a></button></div>
  <ul class="note-list">
    <% notes.forEach(note => { %>
      <li class="note">
        <h2><%= note.title %></h2>
        <p><%= note.content %></p>
        <div class="actions">
          <a href="/edit/<%= note._id %>">Edit</a>
          <a href="/delete/<%= note._id %>">Delete</a>
          <a href="/share/<%= note._id %>">Share</a>
        </div>
      </li>
    <% }) %>
  </ul>
  <h1 class="title">Shared Notes</h1>
  <ul class="note-list">
    <% sharedNotes.forEach(note => { %>
    <li class="note">
        <h2><%= note.title %></h2>
        <p><%= note.content %></p>
        <p><%= note.iv %></p>
        <p><%= note.url %></p>
        <a href="<%= note.url %>">View</a>
    </li>
      <% }) %>
    </ul>
</body>
</html>
